// フォルダごと一括読み込み
@use "base";    // baseフォルダ
@use "global";  // globalフォルダ
@use "module";  // moduleフォルダ
@use "page/top";    // pageフォルダ
@use "page/profile";    // pageフォルダ
@use "page/contact";    // pageフォルダ
@use "utility"; // utilityフォルダ


* {
    color: #583327;
    font-family: "Noto Serif JP", serif;
}
html {
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
a {
    cursor: pointer;
}

@media (max-width: 992px) {
    html {
        font-size: 16px;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        scroll-padding-top: 80px;
    }
}